docs/n8n/AI-Agent-Webhook-RAG.json
{
  "name": "AI Agent Webhook RAG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -960,
        0
      ],
      "id": "webhook-agent",
      "name": "Webhook /agent"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ (\n  (\n    $json.body?.message ??\n    $json.body?.question ??\n    $json.body?.input ??\n    $json.message ??\n    $json.question ??\n    $json.input ??\n    ''\n  ) + ''\n).trim() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -740,
        0
      ],
      "id": "prepare-request",
      "name": "Prepare Request"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ (() => {\n  const h = $json.headers || $json.header || $json.request?.headers || {};\n  const auth = String(h.authorization || h.Authorization || '').trim();\n  return auth === 'Bearer 1234';\n})() }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ],
      "id": "if-authorized",
      "name": "Authorized?"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Unauthorized"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -300,
        -180
      ],
      "id": "unauthorized-response",
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "responseCode": 401,
        "responseData": "firstEntryJson",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -80,
        -180
      ],
      "id": "respond-401",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -300,
        0
      ],
      "id": "if-message",
      "name": "Message OK?"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Brak pola message/question/input w body."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -80,
        -40
      ],
      "id": "bad-request-response",
      "name": "Bad Request Response"
    },
    {
      "parameters": {
        "responseCode": 400,
        "responseData": "firstEntryJson",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        140,
        -40
      ],
      "id": "respond-400",
      "name": "Respond 400"
    },
    {
      "parameters": {
        "jsCode": "const response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://ollama:11434/api/embeddings',\n  headers: { 'content-type': 'application/json' },\n  body: {\n    model: 'nomic-embed-text',\n    prompt: $json.message\n  },\n  json: true\n});\n\nif (!Array.isArray(response?.embedding)) {\n  throw new Error('Brak embedding z Ollama.');\n}\n\nreturn { json: { ...$json, queryEmbedding: response.embedding } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        120
      ],
      "id": "ollama-embeddings",
      "name": "Ollama Embeddings"
    },
    {
      "parameters": {
        "jsCode": "const response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://qdrant:6333/collections/hotel_rag/points/search',\n  headers: { 'content-type': 'application/json' },\n  body: {\n    vector: $json.queryEmbedding,\n    limit: 4,\n    with_payload: true,\n    with_vector: false,\n    score_threshold: 0.6\n  },\n  json: true\n});\n\nconst hits = Array.isArray(response?.result) ? response.result : [];\n\nreturn { json: { ...$json, hits } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        120
      ],
      "id": "qdrant-search",
      "name": "Qdrant Search"
    },
    {
      "parameters": {
        "jsCode": "const hits = Array.isArray($json.hits) ? $json.hits : [];\n\nconst sources = hits.map((hit) => ({\n  source: hit.payload?.source ?? 'unknown',\n  chunk: hit.payload?.chunk ?? null,\n  score: hit.score ?? null,\n  text: (hit.payload?.text ?? '') + ''\n}));\n\nconst context = sources\n  .map((item, index) => {\n    return `Fragment ${index + 1} (score: ${item.score ?? 'n/a'}, source: ${item.source}, chunk: ${item.chunk ?? 'n/a'})\\n${item.text}`;\n  })\n  .join('\\n\\n');\n\nconst topScore = sources.reduce((max, item) => {\n  if (typeof item.score !== 'number') return max;\n  return max === null || item.score > max ? item.score : max;\n}, null);\n\nreturn {\n  json: {\n    ...$json,\n    sources,\n    context,\n    topScore,\n    hitsCount: sources.length\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        120
      ],
      "id": "build-context",
      "name": "Build Context"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.hitsCount}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        580,
        120
      ],
      "id": "if-hits",
      "name": "Hits > 0?"
    },
    {
      "parameters": {
        "jsCode": "const response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://ollama:11434/api/generate',\n  headers: { 'content-type': 'application/json' },\n  body: {\n    model: 'llama3.2:3b',\n    system: 'Odpowiadaj po polsku wyłącznie na podstawie kontekstu. Jeśli brak danych, powiedz czego brakuje i nie zmyślaj.',\n    prompt: `Pytanie: ${$json.message}\\n\\nKontekst:\\n${$json.context}`,\n    stream: false,\n    options: {\n      temperature: 0.2,\n      top_p: 0.9,\n      num_predict: 220\n    }\n  },\n  json: true\n});\n\nreturn { json: { ...$json, answer: response?.response ?? '' } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "ollama-generate",
      "name": "Ollama Generate"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "answer",
              "value": "Nie mam informacji w bazie na ten temat. Doprecyzuj pytanie lub dodaj dokument do RAG."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        800,
        220
      ],
      "id": "no-hits-answer",
      "name": "No Hits Answer"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    answer: $json.answer ?? '',\n    sources: $json.sources ?? [],\n    meta: {\n      topScore: $json.topScore ?? null,\n      hits: $json.hitsCount ?? 0\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        120
      ],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "responseData": "firstEntryJson",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1240,
        120
      ],
      "id": "respond-200",
      "name": "Respond 200"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook /agent": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized?": {
      "main": [
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response": {
      "main": [
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message OK?": {
      "main": [
        [
          {
            "node": "Bad Request Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bad Request Response": {
      "main": [
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "main": [
        [
          {
            "node": "Qdrant Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Hits > 0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hits > 0?": {
      "main": [
        [
          {
            "node": "Ollama Generate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Hits Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Generate": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Hits Answer": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
